
- extends 'base.html'
- block content
  %h4{style:"font-size: 1.1em;"} ログイン
  %div.test
    - for field in form
      %div.field
        %div.ui.input{style:"text-align: center;"}
          = field.label
          = field
        - if field.error
          %p.red.message
            = field.error.0
    - if form.non_field_errors
      %div.ui.red.message
        %ul.list
          - for non_field_error in form.non_field_errors
            %li
              = non_field_error
    - if username is not None
      %h4 username
